#!/bin/sh
set -e;

CONFIG_FILE="{{ CKAN_CONFIG }}/{{ CKAN_CONFIG_FILE }}"

init_db(){
	{{ CKAN_HOME }}/bin/paster --plugin=ckan db init -c $CONFIG_FILE
}

init_datastore(){
	# Exportamos 
	export PGUSER="{{ DEFAULT_POSTGRESQL_USER }}"
	export PGPASSWORD="{{ DEFAULT_POSTGRESQL_PASSWORD }}"
	export PGHOST="{{ DEFAULT_POSTGRESQL_IP }}"
	export PGDATABASE="{{ DEFAULT_POSTGRESQL_DB }}"
	export PGPORT="{{ DEFAULT_POSTGRESQL_PORT }}"
	
	# Creamos Role y Database para datastore
	psql -c "CREATE ROLE {{ DEFAULT_DATASTORE_USER }} WITH PASSWORD '{{ DEFAULT_DATASTORE_PASSWORD }}';"
	psql -c "CREATE DATABASE {{ DEFAULT_DATASTORE_DB }} OWNER $PGUSER;"
	
	# Set permisos
	{{ CKAN_HOME }}/bin/paster --plugin=ckan datastore set-permissions -c $CONFIG_FILE | psql --set ON_ERROR_STOP=1
}


printf "Inicializando bases de datos... "
init_datastore
init_db

printf "[OK]\nBases de datos funcionales y listas!\n"
