#!/usr/bin/env bash

if [ -z "$1" ]; then
    echo "You must pass the new datapusher url as a parameter."
    exit 1;
fi

new_url="$1";

{{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool /etc/ckan/default/production.ini -e "ckan.datapusher.url = $new_url";

