#!/bin/bash
set -e;

# Setup variables for psql command
export PGUSER="${POSTGRES_USER:-{{ DEFAULT_POSTGRESQL_USER }}}"
export PGPASSWORD="${POSTGRES_PASSWORD:-{{ DEFAULT_POSTGRESQL_PASSWORD }}}"
export PGHOST="{{ DEFAULT_POSTGRESQL_IP }}"
export PGDATABASE="${POSTGRES_DB:-{{ DEFAULT_POSTGRESQL_DB }}}"
export PGPORT="{{ DEFAULT_POSTGRESQL_PORT }}"

export DATASTORE_USER="${DATASTORE_USER:-{{ DEFAULT_DATASTORE_USER }}}"
export DATASTORE_PASSWORD="${DATASTORE_PASSWORD:-{{ DEFAULT_DATASTORE_PASSWORD }}}"
export DATASTORE_DB="${DATASTORE_DB:-{{ DEFAULT_DATASTORE_DB }}}"

CONFIG_FILE="{{ CKAN_CONFIG }}/{{ CKAN_CONFIG_FILE }}"
. {{ CKAN_HOME }}/bin/activate

update_conf() {
  echo "Updating DB configuration"

  {{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool "$CONFIG_FILE" -e \
      "sqlalchemy.url = postgresql://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/$PGDATABASE" \
      "ckan.datastore.write_url = postgresql://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/$DATASTORE_DB" \
      "ckan.datastore.read_url = postgresql://$DATASTORE_USER:$DATASTORE_PASSWORD@$PGHOST:$PGPORT/$DATASTORE_DB"
}

init_db(){
	{{ CKAN_HOME }}/bin/paster --plugin=ckan db init -c $CONFIG_FILE
}

init_datastore(){
    # Create datastore role and database
	psql -c "CREATE ROLE $DATASTORE_USER WITH PASSWORD '$DATASTORE_PASSWORD';"
	psql -c "CREATE DATABASE $DATASTORE_DB OWNER $PGUSER;"
	# Set permisos
	{{ CKAN_HOME }}/bin/paster --plugin=ckan datastore set-permissions -c $CONFIG_FILE | psql --set ON_ERROR_STOP=1
}
init_harvest() {
	{{ CKAN_HOME }}/bin/paster --plugin=ckanext-harvest harvester initdb -c $CONFIG_FILE
}

echo "Setting up databases..."
echo "Updating db configuration"
update_conf
echo "Setting up datastore..."
init_datastore
echo "setting up main database..."
init_db
echo "Setting up harvest..."
init_harvest
echo "[OK]"
echo "All databases are ready!"
