#!/bin/sh
set -e;

# Email to which errors should be sent (optional, default: none)
: ${ERROR_EMAIL:=}

CONFIG="{{ CKAN_CONFIG }}/{{ CKAN_CONFIG_FILE }}"

write_config () {
  echo "Configurando DB, Solr, Datastore y Datapusher..."
  CKAN_IP=$(/sbin/ifconfig eth0 | grep 'inet addr:' | cut -d: -f2 | awk '{ print $1}')

  {{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool "$CONFIG" -e \
      "ckan.datapusher.url = http://${CKAN_IP}:8800" \
      "error_email_from = ckan@$(hostname -f)" \
      "ckan.site_url = http://${CKAN_IP}"

  if [ -n "$ERROR_EMAIL" ]; then
    sed -i -e "s&^#email_to.*&email_to = ${ERROR_EMAIL}&" "$CONFIG"
  fi
}

write_config
