<div id="pkg-main-info" class="col-xs-12 col-md-8">
    <div id="pkg-path">
        <a href="{{ h.url_for(controller='package', action='search') }}">Datos Argentina</a> / Dataset
    </div>
    <div id="pkg-title-and-desc">
        {% if h.check_access('package_update', {'id':pkg.id }) %}
            {% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary edit-button', icon='wrench' %}
            {% link_for 'Agregar grupos', id=pkg.name, controller='package', action='groups', class_='btn btn-primary', icon='plus-sign-alt' %}
        {% endif %}
        <h1 class="pkg-title">{{ pkg.title }}</h1>

        <p class="pkg-author">
            {{ pkg.author }}
            {% if pkg.author_email %}
                <a href="mailto:{{ pkg.author_email }}">
                    {% snippet "svg/mail.svg" %}
                </a>
            {% endif %}
        </p>

        <p class="pkg-notes">{{ pkg.notes }}</p>

        <h2 class="pkg-resources-title">RECURSOS DEL DATASET</h2>
    </div>

    <div id="pkg-resources">
        {% for resource in pkg.resources %}
            {% snippet "package/snippets/dataset_resource_item.html", pkg=pkg, resource=resource %}
        {% endfor %}

    </div>

</div>